../.DS_Store
../tomography/
../venus_magneto_tail/
.ipynb_checkpoints/
Untitled.ipynb
aided_monte_carlo_jet_ellipse_min_kernel_5.ipynb
aided_monte_carlo_ring_ellipse_min_kernel_10.ipynb
aided_monte_carlo_ring_ellipse_min_kernel_15_300_iterations.ipynb
aided_monte_carlo_ring_ellipse_min_kernel_5.ipynb
aided_monte_carlo_ring_ellipse_min_max_kernel_10_300_iterations.ipynb
aided_monte_carlo_ring_ellipse_min_max_kernel_10_300_iterations_high_res.ipynb
aided_monte_carlo_ring_ellipse_transformed.ipynb
arbitrary_proton_response_bruteforce.pro
build/
fitting_2D_model_generalized_normal_w_ring.ipynb
fitting_wind_observation.ipynb
geo_dist.c
geo_dist.so
machine_learning_image_recon.py
make_discrete_vdf.pyc
mc_fit_residuals_over_time.eps
mc_fit_residuals_over_time.png
mc_fit_residuals_over_time_6000.eps
mc_fit_residuals_over_time_6000.png
mc_fit_residuals_over_time_ring.eps
mc_fit_residuals_over_time_ring.png
mc_fit_residuals_over_time_ring_kernel_10.eps
mc_fit_residuals_over_time_ring_kernel_10.png
mc_fit_residuals_over_time_ring_kernel_15_300_iterations.eps
mc_fit_residuals_over_time_ring_kernel_15_300_iterations.png
mc_fit_residuals_over_time_ring_kernel_5.eps
mc_fit_residuals_over_time_ring_kernel_5.png
mid_point_loop.c
mid_point_loop.so
monte_carlo_int.pyc
multi_fc_functions.pyc
nm_spectral_fit.pickle
plot_radon_transform.ipynb
plots/
read_fmt_obs.pyc
simplified_wind_spectral_fit.db
ten_tho_fit_mc.txt
ten_tho_fit_mc_improvement.txt
test_obs/
unit_test_transformations.pyc